@font-face {
  font-family: "Hanken Grotesk";
  src: url("assets/fonts/static/HankenGrotesk-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url("assets/fonts/static/HankenGrotesk-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Hanken Grotesk Extra Bold";
  src: url("assets/fonts/static/HankenGrotesk-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

:root {
  /* ### Primary */
  --light-red-hsl: 0, 100%, 67%;
  --light-red: hsl(var(--light-red-hsl));

  --orange-yellow-hsl: 39, 100%, 56%;
  --orange-yellow: hsl(var(--orange-yellow-hsl));

  --green-teal-hsl: 166, 100%, 37%;
  --green-teal: hsl(var(--green-teal-hsl));

  --cobalt-blue-hsl: 234, 85%, 45%;
  --cobalt-blue: hsl(var(--cobalt-blue-hsl));

  /* ## Gradients */
  /* ### Background */
  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);

  /* ### Circle */
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);

  /*## Neutral */
  --white-hsl: 0, 0%, 100%;
  --white: hsl(var(--white-hsl));

  --pale-blue-hsl: 221, 100%, 96%;
  --pale-blue: hsl(var(--pale-blue-hsl));

  --light-lavender-hsl: 241, 100%, 89%;
  --light-lavender: hsl(var(--light-lavender-hsl));

  --dark-gray-hsl: 224, 30%, 27%;
  --dark-gray-blue: hsl(var(--dark-gray-hsl));

  /* Typography */
  /* 10px */
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
}

.score-info {
  background-image: linear-gradient(
    var(--light-slate-blue),
    var(--light-royal-blue)
  );
  color: var(--white);
  text-align: center;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  padding: 3.6rem 4.2rem;
}

.score-title,
.score-description,
.score-range {
  color: var(--light-lavender);
}

.score-title {
  font-size: 2rem;
}

.score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem auto 0;
  width: 150px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-image: linear-gradient(
    to bottom,
    var(--violet-blue),
    var(--persian-blue)
  );
}

.score-value {
  font-size: 5.96rem;
  font-weight: 800;
  line-height: 1;
}

.score-assesment {
  margin-top: 2.2rem;
  font-size: 2.441rem;
  font-weight: 700;
}

.score-range {
  margin-top: 1rem;
}

.score-description {
  margin-top: 0.5rem;
}

.summary-info {
  padding: 2rem 2.4rem;
}

.summary-title {
  color: var(--dark-gray-blue);
}

.summary-scores-list {
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
  font-size: 1.8rem;
  font-weight: 700;
}

.summary-scores-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  border-radius: 1rem;
}

.skill-title {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.skill-icon {
  width: 25px;
}

.skill-score {
  font-weight: 800;
}

.reaction {
  background-color: hsla(var(--light-red-hsl), 0.1);
}

.memory {
  background-color: hsla(var(--orange-yellow-hsl), 0.1);
}

.verbal {
  background-color: hsla(var(--green-teal-hsl), 0.1);
}

.visual {
  background-color: hsla(var(--cobalt-blue-hsl), 0.1);
}

.skill-name-reaction {
  color: var(--light-red);
}
.skill-name-memory {
  color: var(--orange-yellow);
}
.skill-name-verbal {
  color: var(--green-teal);
}
.skill-name-visual {
  color: var(--cobalt-blue);
}

.skill-score > span:first-child {
  color: var(--dark-gray-blue);
}

.skill-score > span:last-child {
  color: hsla(var(--dark-gray-hsl), 0.5);
}

a.continue:link,
a.continue:visited {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background-color: var(--dark-gray-blue);
  margin-top: 3.6rem;
  color: var(--white);
  font-size: 1.8rem;
  font-weight: 800;
  width: 100%;
  padding: 1em;
  border: none;
  border-radius: 1.2em;
  touch-action: auto;
}

a.continue:hover,
a.continue:focus {
  background-image: linear-gradient(
    var(--light-slate-blue),
    var(--light-royal-blue)
  );
}

a.continue:focus-visible {
  outline: 5px dashed orangered;
  outline-offset: 5px;
}
